<h2>Por Capital</h2>
<hr />

<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <!-- (onValue)="searchByCapital($event)" -->
    <shared-searchBox
      (onDebounce)="searchByCapital($event)"
      [initialValue]="initialValue"
      placeholder="Buscar por Capital"
    ></shared-searchBox>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <hr />

    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

    <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>
